
<nav>

  <%= link_to image_tag("if1main.png", border: 0, width: 100), root_path %>


  <div>
    <ul>

      <li class="nav-item">
      	<%= link_to 'Home', home_index_path %> 
      </li>
        
      <li class="nav-item">
          <%= link_to "about us", about_path %>
      </li>

      <li class="nav-item">
          <%= link_to "clients", clients_path %>
      </li>



    

     
    </ul>
   
  </div>


</nav>

