<div id="<%= dom_id saison %>">
  <p>
    <strong>Nom:</strong>
    <%= saison.nom %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= saison.numeroSaison %>
  </p>

  <p>
    <strong>Periode:</strong>
    <%= saison.periode %>
  </p>

</div>
