<h1>Editer saison</h1>

<%= render "form", saison: @saison %>

<br>

<div>
  <%= link_to "", @saison, class:"fa-solid fa-eye btn btn-primary" %> |
  <%= link_to "", saisons_path, class:"fa-solid fa-arrow-rotate-left btn btn-secondary"  %>
</div>
